<%@ Master Language="C#"  MasterPageFile="~/masterpages/Site.master" AutoEventWireup="true" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
        
        <h1><umbraco:Item field="title" runat="server" /></h1>
        <div><umbraco:Item field="body" runat="server" /></div>

        <umbraco:Macro ID="Macro1" FileLocation="/MembershipStatistics.cshtml" runat="server" />

 </asp:Content>
