<%@ Master Language="C#" MasterPageFile="~/masterpages/Site.master" AutoEventWireup="true" %>
<%@ Register Src="~/usercontrols/Membership/Login.ascx" TagName="Login" TagPrefix="ll" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1>
        <umbraco:Item ID="Item1" Field="title" runat="server" />
    </h1>
    <div>
        <umbraco:Item ID="Item2" Field="body" runat="server" />
    </div>

    <ll:Login runat="server" />
    
</asp:Content>
